# astronomy-lover-net-v1 gitignore configuration

# VS Code Settings
.vscode

# Zed Settings
.zed

# Environment Variables
.env

# Build artifacts
/target

# Shuttle configuraiton and environment variables
.shuttle*
Secrets*.toml
