# astronomy-lover-net-v1 gitignore configuration

# VS Code Settings
.vscode

# Zed Settings
.zed

# Build artifacts
public
target

# Shuttle configuraiton and environment variables
.shuttle*
Secrets*.toml
/target
